{% include 'partials/header.html' %}
<form action="/todos/update/{{todo.id}}/" method="post">
{% csrf_token %}
  <label for="title">Title</label><br />
  <input type="text" name="title" id="title" value="{{todo.title}}"/>
  <br>
  <label for="text">Text</label><br />
  <textarea name="text" id="text">{{todo.text}}</textarea>
  <br><br>
  Deadline<input type="datetime-local" name="time" id="time">
  <br><br>
  Complete<input type="checkbox" id="cm" name="cm"/><br><br>
  <input type="submit" value="Submit" />
</form>
<br>
<a href="/">Go Back</a>
{% include 'partials/footer.html' %}